


<p> Go <a href="/forex/<%=@from_symbol%>">back</a>.</p>

<h1> Convert <%= @from_symbol %> to <%= @to_symbol %></h1>

<ul>
1 <%= @from_symbol%> equals <%= @rateoutput %> <%= @to_symbol %>.
</ul>
<div></div>
<p> Go <a href="/forex">back</a>.</p>
